<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark default-color ie-nav"
  [containerInside]="false"
>
  <mdb-navbar-brand>
    <a class="logo navbar-brand" (click)="cambiarVista('usuarios')" href="#"
      ><strong>Heinsohn</strong></a
    >
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" (click)="cambiarVista('usuarios')">Usuarios</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" (click)="cambiarVista('empleadores')"
          >Empleadores</a
        >
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link"><mdb-icon fab icon="facebook-f"></mdb-icon></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link"><mdb-icon fab icon="twitter"></mdb-icon></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link"><mdb-icon fab icon="instagram"></mdb-icon></a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!-- Main -->
<main>
  <div class="container" style="height:1500px;">
    <div class="row pt-5">
      <div class="col text-center">
        <usuarios *ngIf="vista == 'usuarios'"></usuarios>
        <empleadores *ngIf="vista == 'empleadores'"></empleadores>
      </div>
    </div>
  </div>
</main>
<!-- /.Main -->
